@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h2>Hub API</h2>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            User..........<input type="text" id="userInput" />
            <br />
            Message...<input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <h2>Stream API</h2>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            Countdown...<input type="text" id="countdownInput" />
            <input type="button" id="countdownButton" value="Start" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/msgpack5/dist/msgpack5.js"></script>
    <script src="~/lib/signalr-protocol-msgpack/dist/browser/signalr-protocol-msgpack.js"></script>
    <script src="~/js/chat.js" asp-append-version="true"></script>
}
